<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="~/Admin/Home"><i class="fa fa-fw fa-moon-o"></i>Nocturno Admin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>*@
        @Html.Partial("~/Areas/Admin/Views/Shared/_LoginPartial.cshtml")
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Settings" ? "active" : "")">
                <a href="~/Admin/Settings"><i class="fa fa-fw fa-cog"></i> Settings</a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Page" ? "active" : "")">
                <a href="~/Admin/Page"><i class="fa fa-fw fa-file-text-o"></i> Pages</a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Section" ? "active" : "")">
                <a href="~/Admin/Section"><i class="fa fa-fw fa-puzzle-piece"></i> Sections</a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Content" ? "active" : "")">
                <a href="#" data-toggle="collapse" data-target="#content"><i class="fa fa-fw fa-cube"></i> Content <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="content" class="collapse">
                    <li>
                        <a href="~/Admin/SimpleText"><i class="fa fa-fw fa-cube"></i> Simple content</a>
                    </li>
                    <li>
                        <a href="~/Admin/Collection"><i class="fa fa-fw fa-cubes"></i> Collection</a>
                    </li>
                    <li>
                        <a href="~/Admin/Portfolio"><i class="fa fa-fw fa-camera"></i> Gallery</a>
                    </li>
                    <li>
                        <a href="~/Admin/Business"><i class="fa fa-fw fa-briefcase"></i> Business card</a>
                    </li>
                </ul>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Menu" ? "active" : "")">
                <a href="~/Admin/ContentType"><i class="fa fa-fw fa-book"></i> Menu</a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "File" ? "active" : "")">
                <a href="~/Admin/File"><i class="fa fa-fw fa-files-o"></i> Files</a>
            </li>

            @*<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Item" ? "active" : "")">
                    <a href="~/Admin/Item"><i class="fa fa-fw fa-clone"></i> Items</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Blog" ? "active" : "")">
                    <a href="~/Admin/Blog"><i class="fa fa-fw fa-th-large"></i> Blogs</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Article" ? "active" : "")">
                    <a href="~/Admin/Article"><i class="fa fa-fw fa-edit"></i> Articles</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Collection" ? "active" : "")">
                    <a href="~/Admin/Collection"><i class="fa fa-fw fa-th"></i> Collections</a>
                </li>*@
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")">
                <a href="~/Admin/User"><i class="fa fa-fw fa-users"></i> Users</a>
            </li>

            @*<li class="active">
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                </li>
                <li>
                    <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                </li>
                <li>
                    <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                </li>
                <li>
                    <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                </li>
                <li>
                    <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                </li>*@
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>