@using Nocturno.Data.ViewModels
@using Nocturno.Service.Services
@model Nocturno.Data.ViewModels.SectionContentViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Assign</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Content</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="NodeId" />

        @if (Model.SimpleTexts != null && Model.SimpleTexts.Count > 0)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Simple text items</label>
                <div class="col-md-10">
                    @foreach (var item in Model.SimpleTexts)
                    {
                        <div class="checkbox checkbox-primary">
                            <input asp-for="@Model.SimpleTexts[item.Key]" class="styled"/>
                            <label>
                                @item.Key
                            </label>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.Collections != null && Model.Collections.Count > 0)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Collections</label>
                <div class="col-md-10">
                    @foreach (var item in Model.Collections)
                    {
                        <div class="checkbox checkbox-primary">
                            <input asp-for="@Model.Collections[item.Key]" class="styled"/>
                            <label>
                                @item.Key
                            </label>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.Portfolios != null && Model.Portfolios.Count > 0)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Portfolios</label>
                <div class="col-md-10">
                    @foreach (var item in Model.Portfolios)
                    {
                        <div class="checkbox checkbox-primary">
                            <input asp-for="@Model.Collections[item.Key]" class="styled"/>
                            <label>
                                @item.Key
                            </label>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.Businesses != null && Model.Businesses.Count > 0)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Business cards</label>
                <div class="col-md-10">
                    @foreach (var item in Model.Businesses)
                    {
                        <div class="checkbox checkbox-primary">
                            <input asp-for="@Model.Collections[item.Key]" class="styled"/>
                            <label>
                                @item.Key
                            </label>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Back to Sections</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}