@model Nocturno.Data.Models.Service
@{
    int index = 0;
    int itemsCount = Model.CollectionItems.Count;
    var items = Model.CollectionItems.ToList();
    var loopCount = itemsCount / 3 + itemsCount % 3;


    @foreach (var item in Model.CollectionItems)
    {
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa @item.Icon fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>@item.Name</h4>
                    <p>@Html.Raw(item.Text)</p>
                    <a href="@item.Hyperlink" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    }

    @for (int i = 0; i < loopCount; i++)
    {
        <div class="col-md-4">
            @for (int j = index; j < (index + 3) && j < itemsCount; j++)
            {
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa @items[index].Icon fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@items[index].Name</h4>
                        <p>@Html.Raw(items[index].Synopsis)</p>
                    </div>
                </div>
            }
            index += 3;
        </div>
    }
</div>