@model Nocturno.Data.Models.Service

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.Name
        </h1>
    </div>

    @foreach (var item in Model.CollectionItems)
    {

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw @item.Icon"></i> @item.Name</h4>
                </div>
                <div class="panel-body">
                    <p>@Html.Raw(item.Synopsis)</p>
                    <a href="@item.Hyperlink" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>

    }
</div>