@model IEnumerable<Nocturno.Data.Models.SimpleText>

@{
    ViewData["Title"] = "Simple content";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-cog"></i>
            @ViewData["Title"]
        </h1>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}
</table>
