@using Microsoft.Extensions.OptionsModel
@using Nocturno.Data.Settings
@inject IOptions<NocturnoSettings> settings
<!DOCTYPE html>
<html lang="en">

<head>

    @RenderSection("Metadata", required: true)
</head>

<body>

    @RenderBody()

    @RenderSection("Navigation", required: false)
    @RenderSection("HeaderTop", required: false)
    @RenderSection("Breadcrumb", required: false)
    @RenderSection("HeaderBottom", required: false)
    @RenderSection("MainTop", required: false)
    @RenderSection("MainMiddle", required: false)
    @RenderSection("MainBottom", required: false)
    @RenderSection("LeftSidebar", required: false)
    @RenderSection("RightSidebar", required: false)
    @RenderSection("FooterTop", required: false)
    @RenderSection("FooterBottom", required: false)

    @RenderSection("Scripts", required: false)
    
</body>
</html>